* {
  margin: 0;
  padding: 0;
  transition: all 0.3s;

}
body{
  background-color: rgb(209, 208, 207);
}

h1 {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;

}

#formulario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  border: solid 1px;
  width: 350px;
  margin: auto;
  margin-top: 10px;
  background-color: rgb(190, 190, 190);
}

input{
   width: 300px;
   padding: 10px;
   text-decoration: none;
   font-size: 15px;
   border-radius: 10px;

}
input:focus{
  border: solid 1px blue;
  outline: blue;
  border-radius: 10px;
  background-color: rgb(245, 245, 245);
}

.filas {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: 3px;
  padding: 5px;
}

.botones{
  box-sizing: border-box;
  display: flex;
  width: 100px;
  margin: auto;
  align-items: center;
  text-align: center;
  padding: 5px;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  
}